* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  background-image: url('./bakcground.jpg');
}
#login {
  background-color: rgba(32, 197, 26, 0.2);
  align-items: center;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  margin-left: -10rem;
  left: 50%;
  top: 10rem;
  width: 20rem;
  height: 20rem;
  background-color: light;
  animation-name: "";
  animation-duration: 1500ms;
}
#login #login-name {
  color: #555;
  width: 90%;
  font-size: 2rem;
  border: none;
  border: 1.5px solid lightgreen;
  border-radius: 0.5rem;
}
#submit-button {
  background-color: #fff;
  width: 50%;
  font-size: 2rem;
  border: 1.5px solid lightgreen;
  border-radius: 0.5rem;
  display: block;
  transition: 500ms;
}
#submit-button:hover {
  color: lightgreen;
  background-color: #555;
  cursor: pointer;
}
#user-name {

  cursor: pointer;
  position: relative;
  top: 2rem;
  left: 85%;
  width: fit-content;
  text-align: center;
  border: 1.5px solid lightgreen;
  padding: 2px 10px;
  border-radius: 15px;
  color: white;
  font-size: 1.8vw;
}
#user-name:hover{
  cursor: pointer;
  color: lightgreen;
  background-color: #555;
  
}
#welcome-msg {
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 60%;
  transform: translate(-50%);
  text-align: center;
  border: 1.5px solid lightgreen;
  color: white;
  border-radius: 1rem;
  font-size: 1.3rem;
  animation-duration: 3500ms;
}
#get-curr-users{
  color: white;
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  transition: 500ms;
  left: 0;
  top: 0;
  width: 10%;
  border: 1.5px solid lightgreen;
  border-radius: 4px;
  cursor: pointer;
}
#chat-area {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 36rem;
  background-color: rgba(166, 168, 175, 0.5);
}
#chat-room {
  position: relative;
  top: 0%;
  left: 0.2%;
  width: 99.6%;
  height: 90%;
  background-color: transparent;
  border-radius: 10px;
  border: 1.5px solid lightgreen;
  overflow-y: scroll;
}
#msg-container {
  position: absolute;
  left: 1%;
  bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  height: 5%;
  width: 98%;
}
#msg {
  font-size: 1.5rem;
  flex-basis: 80%;
}
.msg-button {
  border-radius: 5px;
  border: 1.5px solid lightgreen;
  background-color: transparent;
  transition: 500ms;
  cursor: pointer;
  flex-basis: 10%;
}
#msg:focus,
#msg:active {
  border-color: lightgreen;
}
.msg-button:hover {
  color: lightgreen;
  background-color: #555;
}
.msg-sent {
  list-style: none;
  display: block;
  position: relative;
  left: 78%;
  width: 20%;
  margin-right: 1rem;
  margin-top: 10px;

  top: 0;
}
.msg-sent *:first-child {
  text-align: right;
  font-size: 1.2rem;
  color: black;
}
.msg-sent *:last-child {
  width: 100%;
  border: 1.5px solid lightgreen;
  border-radius: 5px;
  padding: 4px 8px;
  word-wrap: break-word;
}
.msg-recived{
  list-style: none;
  display: block;
  position: relative;
  left: 0%;
  width: 20%;
  margin-left: 1rem;
  margin-top: 10px;
  top: 0;
}
.msg-recived *:first-child {
  padding-left: 5px;
  text-align: left;
  font-size: 1.2rem;
  color: black;
}
.msg-recived *:last-child {
  width: 100%;
  border:none;
  background-color: lightgreen;
  color: black;
  border-radius: 5px;
  padding: 4px 8px;
  word-wrap: break-word;
}
::-webkit-scrollbar {
  width: 2px;
}
#users{
  position: absolute;
  top: 10%;
  left: 1%;
  width: 15%;
  height: 20%;
  border-radius: 5px;
  animation: 1000ms;
}
#users #users-list *{
  list-style: none;
  height: fit-content;
}
#users #users-list{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80%;
  text-shadow: 1px 1px 1px black;
  overflow-y: scroll;
  background-color: lightgreen;
  color: white;
  font-size: 1.2rem;
}
#users #cancel{
  position: absolute;
  width: 100%;
  left: 0;
  top: 81%;
  height: 19%;
  border: 1.5px solid lightgreen;
  border-radius: 3px;
  background-color: #fff;
  transition: 500ms;
  cursor: pointer;
}
#users #cancel:hover{
  color: lightgreen;
  background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgreen;
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes popout {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
